.XY{
    background-color: rgb(33, 33, 176);
    color: white;
    width: 900px;
    height: 250px;
    margin-left: 200px;
}
h1{
    margin-left: 300px;
    margin-top: 20px;
}
h3{
    margin-left: 300px;
}
.amount{
    margin-left: 60px;
}
.from{
    margin-left: 270px;
    margin-top: -39px;
}
.to{
    margin-left: 460px;
    margin-top: -39px;
}
.currancy{
    margin-left: 300px;
    background-color: #fff;
    width: 700px;
    height: 200px;
    margin-top: -350px;
    border: 1px solid gray;
}
button{
    margin-top: 70px;
    margin-left: 60px;
    height: 25px;
    width: 120px;
    background-color: rgb(33, 33, 176);
    border-radius: 6px;
    color: #fff;
    border: 0;
}
.res{
    margin-left: 460px;
    margin-top: -52px;
}
body{
    background-color: gray;
}
.three{
    background-color: #fff;
    width: 900px;
    height: 250px;
    margin-left: 200px;
}